@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Green Theme Colors */
  --primary: #10b981; /* Emerald 500 */
  --primary-foreground: #ffffff;
  --primary-hover: #059669; /* Emerald 600 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #10b981;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #059669;
  --color-secondary: #059669;
  --color-accent: #f59e0b;
  --font-sans: var(--font-be-vietnam);
  --font-mono: ui-monospace, monospace;
}

@layer base {
  html {
    scroll-behavior: auto !important;
  }
}

/* Lenis CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-be-vietnam), sans-serif;
  overflow-x: hidden;
  width: 100%;
  overscroll-behavior: none;
}

